<div class="container full-page-container">
  <h1>Start a New Story</h1>
  <p>Have you read the <a href="#guidelines" target="_blank">community guidelines</a>?</p>
  <form {{action "createStory" model on="submit"}}>
    <label for="title">Title</label>
    {{input value=model.title placeholder='Name your story' class='form-control'}}
    <label for="summary">Summary</label>
    {{input value=model.summary placeholder='Just a sentence. Update this at any time.' class='form-control'}}
    <label for="genre">Genre</label>
    <select class="form-control" value={{model.genreId}}>
      <option value="1">Let's see what happens!</option>
      <option value="2">Children's</option>
      <option value="3">Comedy</option>
      <option value="4">Drama</option>
      <option value="5">Fantasy</option>
      <option value="6">Historical Fiction</option>
      <option value="7">Horror</option>
      <option value="8">Mystery</option>
      <option value="9">Romance</option>
      <option value="10">Satire</option>
      <option value="11">Science Fiction</option>
      <option value="12">Tragedy</option>
      <option value="13">Young Adult</option>
    </select>
    {{create-story-btn}}
  </form>
</div>

{{outlet}}
