{{yield}}
{{log data}}

{{#each data as |contribution|}}
  <div class="contribution-info-container">
    <h2 class="contribution-title">{{contribution.title}}</h2>
    <p class="contribution-author">By: {{contribution.userId}}</p>
    <p class="contribution-date">Submitted on: {{contribution.date}}</p>
    <p class="contribution-body">{{contribution.body}}</p>
  </div>
{{/each}}
