<div class="container full-page-container">
  <!-- {{outlet}} -->
  <h1>Recent Stories</h1>
  <div class="story-list">
    {{#each model.stories as |story| }}
      <div class="story-container">
        <div class="story-info-container">
          {{#link-to "story" story}}<h3 class="story-title">{{story.title}}</h3>{{/link-to}}
          <p class="story-summary">{{story.summary}}</p>
          <div class="story-meta-data">
            <p class="story-user">Created by: {{story.user.firstName}} {{story.user.lastName}}</p>
            <p class="story-genre">Genre: {{story.genreId}}</p>
            <p class="story-start-date">Created: {{moment-from-now story.startDate}}</p>
          </div>
        </div>
        <div class="btn-container">
          {{#link-to "story" story}}Read More{{/link-to}}
          {{#link-to "story.edit" story}}Contribute{{/link-to}}
        </div>
      </div>
    {{/each}}
  </div>
</div>

<h1>Hello</h1>
